#header {
    display: flex;
    justify-content: right;
    width: 40%;
    min-height: 100px;
    margin: auto;
    font-size: 25px;
}
#link {
    width: 50%;
}
#info {
    width: 50%;
    text-align: center;
}
#link_button {
    width: 40%;
    min-height: 40%;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 50%;
}
.main_part {
    width: 1500px;
    min-height: 500px;
    margin-top: 100px;
    margin-left: 310px;
}
.up_side {
    width: 1500px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
}
.left_side {
    width: 850px;
    min-height: 500px;
}
.x_y_side {
    width: 850px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
}
.x_side {
    width: 425px;
    min-height: 250px;
    font-size: 18px;
}
.y_side {
    width: 425px;
    min-height: 250px;
    font-size: 18px;
}
.r_service_side {
    min-height: 250px;
    width: 850px;
    display: flex;
    justify-content: space-between;
}
#right_side {
    width: 650px;
    min-height: 500px;
}
.r_side {
    width: 425px;
    min-height: 250px;
    font-size: 18px;
}
.service_side {
    width: 425px;
    min-height: 250px;
    font-size: 18px;
}
.service_button {
    width: 100px;
    border-radius: 10px;
    min-height: 35px;
}
input[type="text"] {
    width: 200px;
    border-radius: 10px;
    min-height: 35px;
}
#answer_table {
    width: 70%;
    margin: auto;
}
.invisible {
    display: none;
}
